body {
    background-color: lavender;
}

header, main {
    background-color: aquamarine;
    width: 600px;
    margin-left: calc(50% - 300px);
}

img{

}

nav{

}

a{

}

main {
    margin-top: 60px;
}
